@model InvoiceManagementSystemMVC.Models.SendMessageViewModel

<h4>Send Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendMessage" method="post">
            <input type="hidden" name="userId" value="@Model.ReceiverId" /> <!-- Hidden field for userId -->

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentDate" class="control-label"></label>
                <input asp-for="SentDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="SentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderId" class="control-label"></label>
                <input asp-for="SenderId" class="form-control" type="hidden" />
                <span asp-validation-for="SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ReceiverId" type="hidden" /> <!-- Hidden field for ReceiverId -->
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
